/* body {
    background-image: url('/templates/iss_pic/iss-station-earth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } */


.image-class {
  background-image: url('static/assets/ISS.svg');
}
