<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512=="
   crossorigin=""></script>
   <link rel="stylesheet" href="https://bootswatch.com/5/slate/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/d6075b1921.js" crossorigin="anonymous"></script>
        <style>
        #issMap {
           height: 180
        }
    </style>
    <meta charset="UTF-8">
    <!-- END LEAFLET -->
    <title>🛰️HereISSat</title>
</head>
<body>

    <br>
    <br>
    <br>
    <div id="issMap" style = " height: 160px;  ">
    </div>

    <h1> 
        <span id="name"> Satellite name : {{ satel }} </span>
    </h1>
    <h1> 
        <span id="id"> Satellite ID : {{ satellite }} </span>
    </h1>
    <h1> 
        Current ISS velocity : 
        <span id="velocity"> </span>
    </h1>
    <h1> 
        ISS latitude :
        <span id="lat"> </span>
    </h1>
    <h1> 
        ISS longitude :
        <span id="lon"> </span>
    </h1>

 
    <script type=text/javascript>        

        //Making a map and tiles
        const mymap = L.map('issMap').setView([0, 0], 3);
        // const mymap = L.map('mapid').setView([{{ latitude }}, {{ longitude }}], 3);
        const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);

        //Making a marker with a custom icon
        var issIcon = L.icon({
            iconUrl: '/assets/ISS.svg',
            iconSize: [110, 82],
            iconAnchor: [70, 49],
        });
        const marker = L.marker([0, 0], {icon: issIcon}).addTo(mymap);

        const api_url = 'https://api.wheretheiss.at/v1/satellites/25544';

        let firstTime = true; 

        async function getISS() {
            const response = await fetch(api_url);
            const data = await response.json();
            const { latitude, longitude, name, id, velocity } = data;

            marker.setLatLng([latitude, longitude]);
            if (firstTime) {
            mymap.setView([latitude, longitude], 2);
            // mymap = L.map('mapid').setView([{{ latitude }}, {{ longitude }}], 3);
            firstTime = false;
            }
            document.getElementById('lat').textContent = latitude;
            document.getElementById('lon').textContent = longitude;
            document.getElementById('velocity').textContent = velocity;
        }
        getISS();

        setInterval(getISS, 3000);
    </script>
        
</body>
</html>
